<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' />
    <title><%- title %></title>
    <%_ assets.css.forEach(function (asset) { _%>
    <link rel="stylesheet" href='<%- asset %>' />
    <%_ }); _%>
    <%_ if (head) { %> <%- head %> <% } _%>
  </head>
  <body>
    <%_ if (body) { %><%- body %><% } _%>
    <%_ if (assets.runtime) { %>
      <script type='text/javascript'>
      <%- assets.runtime %>
      </script>
    <% } _%>
    <%_ assets.js.forEach(function (asset) { _%>
    <script type='text/javascript' src='<%- asset %>' async></script>
    <%_ }); _%>
  </body>
</html>
